@using Atelier.Application.Interfaces.IBaseInfoServices.IGroupingServices;
@using Atelier.Application.Interfaces.IBaseInfoServices.ICitiesServices
@inject IGroupingService GroupingService ;
@inject ICityService CityService ;

@model Atelier.Domain.DTOs.BaseInfoDTOs.SearchDtos.SearchViewModel
@{
	var groupings = GroupingService.GetAllSelectList();
	var cityList = CityService.GetAllSelectList();
	var listGrouping = GroupingService.GetAll();
}
<form asp-action="SearchAtelier" method="post">

<main class="w-full flex flex-col items-center overflow-hidden">
	<div class="w-full flex flex-col items-center ">

		<div class="w-full flex flex-col justify-center items-center home-img-container" style="display: flex; flex-direction: column; justify-content: center;">

			<div class="" style="margin: auto; width: 75%;">
				<div class="search-box-container card login-card d-flex flex-row" style="height: 100px; align-items: center; border-radius: 15px; margin-top: 200px;">
						<input id="searchAtelier" asp-for="Title"  class="bg-transparent px-2 col-5" style="border: none; outline: none;" placeholder="جستجوی آتلیه" value="">
						<ul class="d-flex col-5" style="width: 45%; align-items: center; margin: auto; list-style: none; text-align: center;">
							<li class="col-6 cursor-pointer">
								<select id="groupId" asp-for="GroupingId" asp-items="@(new SelectList(groupings, "Value", "Text"))" class="select2 form-control select2-hidden-accessible input-validation-error border-0">
								</select>
							</li>
							<li class="col-6 cursor-pointer show-more-item">
								<select id="cityId" asp-for="CityId" asp-items="@(new SelectList(cityList, "Value", "Text"))" class="select2 form-control select2-hidden-accessible input-validation-error">
								</select>
							</li>
						</ul>
						<button type="submit" class="searchBtn bg-transparent outline-none border-0" style="outline: none; padding: 30px; cursor: pointer;">
							<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="40" height="40" viewBox="0 0 32 32">
								<circle cx="14" cy="14" r="12" fill="#79b5ba"></circle>
								<path fill="#302529" d="M14,27C6.832,27,1,21.168,1,14S6.832,1,14,1s13,5.832,13,13S21.168,27,14,27z M14,3	C7.935,3,3,7.935,3,14s4.935,11,11,11s11-4.935,11-11S20.065,3,14,3z"></path>
								<path fill="#fff" d="M6,14H5c0-4.962,4.038-9,9-9v1C9.589,6,6,9.589,6,14z"></path>
								<rect width="2" height="10.607" x="25.25" y="20.947" fill="#302529" transform="rotate(-45.001 26.25 26.25)"></rect>
							</svg>
						</button>
				</div>
			</div>

		</div>
	</div>
</main>
</form>


<h3 style="text-align: right; margin: 30px 30px 0 0;">
	دسته بندی
</h3>
<div class="container mt-3">
	<div class="row">
		<div id="owl-carousel1" class="owl-carousel owl-theme" style="direction:ltr;">
			@foreach (var item in listGrouping)
			{
				<div class="item mb-4" style="width:250px;">
					<div class="category">
						<a href="">
							<img src="@item.GroupPic" alt="" class="shadow-category" style="width:150px; height:150px;  margin-left: auto; margin-right: auto;" />
							<p class="m-4">@item.Title</p>
						</a>
					</div>
				</div>
			}
			
		</div>
	</div>
</div>



@*slider-atelier*@

<div style="background-color: #b4d6db; overflow: hidden;">
	<h3 style="text-align: right; margin: 30px 30px 15px 0;"> آتلیه ها</h3>

	<div class="row" style="padding: 0 25px 0 25px;">
		<div id="owl-carousel2" class="owl-carousel owl-theme" style="direction:ltr;">

			<div class="item mb-4" style="margin:15px; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; border-radius:15px; width:350px;">
				<div class="card" style="border-radius:15px; cursor: pointer;">
					<img class="card-img-top" src="/assets/images/login.jpg" alt="" style="height:250px; border-radius:15px 15px 0 0;">
					<div class="card-body" style="direction:rtl;">
						<p class="card-title">آتلیه تست</p>
						<p class="card-text d-flex">
							<img src="/assets/images/icons/location.png" style="width:36px; height:36px;" />
							<span>یزد</span>
						</p>
					</div>
					<div class="card-footer d-flex justify-content-around">
						<div style="cursor: pointer;">
							<img src="/assets/images/icons/heart.png" style="width:24px; height:24px;" />
						</div>
						<span>|</span>
						<div style="cursor: pointer;">
							<img src="/assets/images/icons/eye.png" style="width:24px; height:24px;" />
						</div>
					</div>
				</div>
			</div>
		</div>

		<div style="justify-content:center; margin:0 auto;">
			<button class="btn showAtelier-btn">
				مشاهده همه آتلیه ها
			</button>
		</div>
	</div>
</div>


@section myScripts {
	<script>
		$('select').select2({
			dir: "rtl"
		});

		function SearchAtelier() {
			$.ajax({
				type: 'Get',
				datatype: 'JSON',
				url: "/Home/SearchAtelier",
				contentType: "application/json;charset=utf-8",
				data: {
					'text': $("#searchAtelier").val(),
					'groupId': $("#GroupId option:selected").val(),
					'cityId': $("#CityId option:selected").val()

				},
			});
		}

	
	</script>
}
