@using Atelier.Application.Interfaces.IBaseInfoServices.ICitiesServices
@using Atelier.Application.Interfaces.IBaseInfoServices.IGroupingServices
@using Atelier.Application.Security
@model Atelier.Domain.DTOs.BaseInfoDTOs.AtelierDTOs.AtelierViewModel
@inject ICityService CityService ;
@inject IGroupingService GroupingService ;

@{
    ViewData["Title"] = "AddAtelier";
    Layout = "_Adminlayout";
	var cityList = CityService.GetAllSelectList();
	var groupList = GroupingService.GetAllSelectList();
}

<div class="page-body">
	<div class="page-header">
		<div class="row">
			<div class="col">
				<div class="page-header-left">
					<h3>آتلیه ها</h3>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a><i data-feather="home"></i></a></li>
						<li class="breadcrumb-item">آتلیه ها</li>
						<li class="breadcrumb-item">افزودن</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="card">
			<div class="card-header">
				<h5>افزودن آتلیه</h5>
			</div>
			<form class="form theme-form" enctype="multipart/form-data" method="post" asp-controller="Atelier" asp-action="AddAtelier">
			
				<input type="hidden" asp-for="UserId" value="@User.GetUserId()"/>
				<div class="card-body">
					<div class="row">
						<div class="col-12">
							<div class="form-group">
								<label asp-for="Title">عنوان</label>
								<input asp-for="Title" class="form-control" type="text" data-original-title="" title="">
								<span class="text-danger" asp-validation-for="Title"></span>
							</div>
						</div>
						<div class="col-6">
							<div class="form-group">
								<label asp-for="Logo">لوگو</label>
								<input asp-for="Logo" class="form-control" type="file" data-original-title="" title="">
								<span class="text-danger" asp-validation-for="Logo"></span>
							</div>
						</div>
						<div class="col-6">
							<div class="form-group">
								<label asp-for="Banner">بنر</label>
								<input asp-for="Banner" class="form-control" type="file" data-original-title="" title="">
								<span class="text-danger" asp-validation-for="Banner"></span>
							</div>
						</div>
						<div class="col-6">
							<div class="form-group">
								<label asp-for="Phone">تلفن</label>
								<input asp-for="Phone" class="form-control" type="text" data-original-title="" title="">
								<span class="text-danger" asp-validation-for="Phone"></span>
							</div>
						</div>
						<div class="col-6">
							<div class="form-group">
								<label asp-for="Instagram">اینستاگرام</label>
								<input asp-for="Instagram" class="form-control" type="text" data-original-title="" title="">
								<span class="text-danger" asp-validation-for="Instagram"></span>
							</div>
						</div>
						<div class="col-6">
							<div class="form-group">
								<label asp-for="CityId">شهر</label>
								<select asp-for="CityId" asp-items="@(new SelectList(cityList, "Value", "Text"))" class="form-control js-example-basic-single">
								</select>
								<span class="text-danger" asp-validation-for="CityId"></span>
							</div>
						</div>
						<div class="col-6">
							<div class="form-group">
								<label>گروه بندی</label>
								<select asp-for="GroupingIds" class="form-control js-example-placeholder-multiple" multiple="multiple" asp-items="@(new SelectList(groupList, "Value", "Text"))">
								</select>
								<span class="text-danger" asp-validation-for="GroupingIds"></span>
							</div>
						</div>

						<div class="col-6">
							<div class="form-group">
								<label asp-for="Address">آدرس</label>
								<textarea asp-for="Address" class="form-control" type="text" data-original-title="" title=""></textarea>
								<span class="text-danger" asp-validation-for="Address"></span>

							</div>
						</div>
						
					</div>
				</div>
				<div class="card-footer w-100" style="text-align: end;">
					<button class="btn btn-primary" type="submit" data-original-title="" title="">ثبت</button>
				</div>
			</form>
		</div>
	</div>
</div>