
<!DOCTYPE html>
<html lang="fa">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>آتلین</title>
    <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
	<link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css" />

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-blue">
        <a class="navbar-brand" href="#">
            <img src="/assets/images/logo.png"
                 alt=""
                 style="width: 84px; height: 54px; margin-left: 25px;" />
        </a>
        <button id="togglerBtn" class="navbar-toggler collapsed" type="button" onclick="showNavbar()" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse text-right" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto p-0" style="flex:auto;">
                <li class="nav-item pr-3">
                    <a class="nav-link" href="#">خانه</a>
                </li>
                <li class="nav-item pr-3">
                    <a class="nav-link" href="#">آتلیه ها</a>
                </li>
                <li class="nav-item pr-3">
                    <a class="nav-link" href="#">درباره ما</a>
                </li>
                <li class="nav-item pr-3">
                    <a class="nav-link" href="#">تماس با ما</a>
                </li>
            </ul>

            <ul class="navbar-nav mr-auto p-0">
                <li class="nav-item pr-3">
                    <a class="nav-link" href="#">
                        <img src="/assets/images/icons/heart2.svg" alt="" class="img-icon" />
                    </a>
                </li>
                <li class="nav-item pr-3">
                    <a class="nav-link" href="#">
                        <img src="/assets/images/icons/login_black_24dp.svg" alt="" class="img-icon" />
                    </a>
                </li>
            </ul>
        </div>
    </nav>
   

    <div>
        @RenderBody()
    </div>

	@*<div class="page-wrapper">
		<div class="left-sidenav" id="MainMenu">
			<div class="main-icon-menu">
				<nav class="nav">
					<partial name="_ShowMenu" />
				</nav>
			</div>

			<div class="main-menu-inner">
				<partial name="_MainMenu" />
			</div>
		</div>


		<div class="page-content mt-4">
			<div class="container-fluid">

				@RenderBody()

			</div>
		</div>

		<footer>

		</footer>

    </div>*@


	<script src="/assets/js/bootstrap.js"></script>
    <script>
        var toggleBtn = document.getElementById("togglerBtn");
        var navbar = document.getElementById("navbarSupportedContent");

       function showNavbar(){
            navbar.classList.toggle("show");
        };
        </script>

</body>
</html>
