@using Atelier.Application.Interfaces.IBaseInfoServices.IGroupingServices;
@inject IGroupingService GroupingService ;

@{
	var listGrouping = GroupingService.GetAll();
}

<!DOCTYPE html>
<html lang="fa">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>آتلین</title>
	<link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
	<link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="/assets/css/style.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="/assets/vendors/css/forms/select/select2.min.css">
	<link href="/assets/plugins/select2/select2.min.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/assets/css/font.css" />
	@*<link href="/assets/css/carousel.css" rel="stylesheet" type="text/css" />*@
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body id="atelier-list" style="overflow: auto;">

	<div id="root">
		<div class="w-full h-full flex flex-col">
			<nav class="navbar navbar-expand-lg navbar-light bg-transparent" style="justify-content: center; position: absolute; z-index: 50; width: 100%">

				<div style="display: flex; width: 95%; border-bottom: 1px solid black; justify-content: space-between;">
					<a class="navbar-brand" asp-controller="Home" asp-action="Index">
						<img src="/assets/images/logo.png"
							 alt=""
							 style="width: 84px; height: 54px; margin-left: 25px;" />
					</a>
					<button id="togglerBtn" class="navbar-toggler collapsed" type="button" onclick="showNavbar()" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>


					<div class="navbar-collapse collapse text-right mobileNavbar " id="navbarSupportedContent">
						<ul class="navbar-nav mr-auto p-0" style="flex: auto; justify-content: center; font-weight: bolder;">
							<li class="nav-item pr-1 pl-1">
								<a class="nav-link" asp-controller="Home" asp-action="Index">خانه</a>
							</li>
							<li class="nav-item pr-1 pl-1">
								<a class="nav-link">آتلیه ها</a>
							</li>
							<li class="nav-item pr-1 pl-1">
								<a class="nav-link" href="#">درباره ما</a>
							</li>
							<li class="nav-item pr-1 pl-1">
								<a class="nav-link" href="#">تماس با ما</a>
							</li>
						</ul>

						<ul class="navbar-nav mr-auto p-0">
							<li class="nav-item pr-1 pl-1">
								<a class="nav-link" href="#">
									<img src="/assets/images/icons/heart2.svg" alt="" class="img-icon" />
								</a>
							</li>
							<li class="nav-item dropdown pr-1 pl-1">
								@if (User.Identity.IsAuthenticated)
								{
									<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" onclick="showDropdown()" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<span class="icon-account">
											<img src="/assets/images/user.png" class="img-icon">
										</span>
										<span class="title-account"> @User.FindFirst("LastName").Value</span>
									</a>
								}
								else
								{
									<a class="nav-link" asp-controller="Account" asp-action="Login">
										<img src="/assets/images/icons/login_black_24dp.svg" alt="" class="img-icon" />
									</a>
								}

								<div class="dropdown-menu" id="dropdownMenu" aria-labelledby="navbarDropdown">
									<a class="dropdown-item" href="#">پنل کاربری</a>
									<a class="dropdown-item" href="#">علاقه مندی ها</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" asp-controller="Account" asp-action="LogOut">خروج</a>
								</div>

							</li>
						</ul>
					</div>

				</div>


			</nav>



			<div >
				@RenderBody()
			</div>
			
			
			<div class="row" style="justify-content: center; background: white;  width: 100%; margin: 0;">
				<div class="col-3 card " style="align-items: center; margin: 25px; border-radius: 15px; border: 0;">
					<img src="/assets/images/banner/confusion.jpg" style="width:150px; height:150px;"/>
					<span>رهایی از سردرگمی</span>
				</div>
				<div class="col-3 card d-flex" style="align-items: center; margin: 25px; border-radius: 15px; border: 0;">
					<img src="/assets/images/banner/time.jpg" style="width:150px; height:150px;" />
					<span>صرفه جویی در زمان</span>
				</div>
				<div class="col-3 card d-flex" style="align-items: center; margin: 25px; border-radius: 15px; border: 0;">
					<img src="/assets/images/banner/location.jpg" style="width:150px; height:150px;" />
					<span>دسترسی به لوکیشن</span>
				</div>
			</div>


			<footer class="w-full flex flex-col items-center overflow-hidden">
				<div class="w-full flex flex-col items-center ">
					<div class="w-full flex flex-col justify-center items-center footer-img-container">
						<div class="col-md-9 text-center">
							<div class="footer-site-logo mb-4" style="text-align: right; padding: 25px;">
								<a href="#" style="font-size:35px; font-weight:bolder; color:black; text-decoration: none;">
									<img src="/assets/images/logo.png" style="width: 84px; height: 54px; margin-left: 25px;" />
									آتلین؛ آتلیه یاب آنلاین
								</a>
								<p style="padding: 25px; font-size:18px;">
									  با آتلین میتونید خیلی راحت آتلیه های شهرتون رو پیدا کنید و ویژگی های اونها رو مقایسه کنید و<br/> هر کدوم رو دوست داشتین انتخاب کنید.
								</p>
							</div>

							<div class="social mb-4" style="text-align:right;">
								<h5>دسترسی سریع</h5>
								<ul class="d-flex mb-5" style="list-style:none; color:black; display: flex;">
									<li class="nav-item"><a class="nav-link" style="color: rgba(0,0,0,.5); font-weight:bold;" href="#">صفحه اصلی</a></li>
									<li class="nav-item"><a class="nav-link" style="color: rgba(0,0,0,.5); font-weight:bold;" href="#">آتلیه ها</a></li>
									<li class="nav-item"><a class="nav-link" style="color: rgba(0,0,0,.5); font-weight:bold;" href="#">درباره ما</a></li>
									<li class="nav-item"><a class="nav-link" style="color: rgba(0,0,0,.5); font-weight:bold;" href="#">تماس با ما</a></li>
								</ul>
							</div>


							<div class="mb-4" style="text-align:right;">
								<h5>ما را دنبال کنید</h5>
								<ul class="" style="list-style: none; color: black; display: flex;">
									<li class="p-3"><a href="#"><img src="/assets/images/icons/eita.png" class="img-icon"></img></a></li>
									<li class="p-3"><a href="#"><img src="/assets/images/icons/instagram.png" class="img-icon"></img></a></li>
									<li class="p-3"><a href="#"><img src="/assets/images/icons/watsapp.png" class="img-icon"></img></a></li>
									<li class="p-3"><a href="#"><img src="/assets/images/icons/telegram.png" class="img-icon"></img></a></li>
								</ul>
							</div>

							@*<div class="copyright">
								<p class="mb-0"><small>&copy; Colorlib. All Rights Reserved.</small></p>
							</div>*@


						</div>
					</div>
				</div>
			</footer>





			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
			<script src="/assets/js/bootstrap.js"></script>
			<script src="/assets/vendors/js/forms/select/select2.full.min.js"></script>
			<script src="/assets/js/scripts/forms/select/form-select2.js"></script>
			


			@*slider*@
			<script>
				$('#owl-carousel1').owlCarousel({
					loop: true,
					margin: 10,
					nav: true,
					responsive: {
						0: {
							items: 1
						},
						600: {
							items: 3
						},
						1000: {
							items: 5
						}
					}
				})

				$('#owl-carousel2').owlCarousel({
					loop: true,
					margin: 10,
					nav: true,
					responsive: {
						0: {
							items: 1
						},
						600: {
							items: 3
						},
						1000: {
							items: 4
						}
					}
				})
			</script>

			@*show-menu*@
			<script>
				var toggleBtn = document.getElementById("togglerBtn");
				var navbar = document.getElementById("navbarSupportedContent");

				function showNavbar() {
					navbar.classList.toggle("show");
				};

				var toggleDropdown = document.getElementById("dropdownMenu");
				var navbarDropdown = document.getElementById("navbarDropdown");

				function showDropdown() {
					toggleDropdown.classList.toggle("show");
					navbarDropdown.classList.toggle("show");
				};
			</script>

			@await RenderSectionAsync("myScripts", false)


		</div>
	</div>
</body>
</html>
