
@{
    ViewData["Title"] = "AddGrouping";
    Layout = "~/Areas/Admin/Views/Shared/_Adminlayout.cshtml";
}

<div class="page-body">
    <div class="page-header">
        <div class="row">
            <div class="col">
                <div class="page-header-left">
                    <h3>گروه بندی ها</h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item">گروه بندی ها</li>
                        <li class="breadcrumb-item">افزودن </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5>افزودن گروه بندی</h5>
            </div>
            <form class="form theme-form">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="">عنوان</label>
                                <input class="form-control" type="text" data-original-title="" title="">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">عکس</label>
                                <input class="form-control" type="file" data-original-title="" title="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer w-100" style="text-align: end;">
                    <button class="btn btn-primary" type="submit" data-original-title="" title="">ثبت</button>
                </div>
            </form>
        </div>
    </div>

