@model Atelier.Domain.DTOs.BaseInfoDTOs.AccountDTOs.LoginDto

@{
    Layout = null;
}

<html lang="fa">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>آتلین</title>
    <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/login.css" rel="stylesheet" type="text/css" />

</head>

<body>
    <div class="container">
        @*login*@
        <div style="height: 100vh; display:flex; flex-direction:column; justify-content:center;">
            <div class="card login-card">
                <div class="row no-gutters">

                    <div class="col-md-7">
                        <div class="card-body text-right">
                            <div>
                                <div class="brand-wrapper">
                                    <span class="login-card-description">ورود کاربر</span>
                                    <img src="/assets/images/logo.png" alt="logo" class="logo">
                                </div>
                                <form method="post" asp-controller="Account" asp-action="Login">
                                    <div class="form-group">
                                        <label asp-for="UserName">نام کاربری</label>
                                        <input asp-for ="UserName" class="form-control">
                                        <span class="text-danger" asp-validation-for="UserName"></span>
                                    </div>
                                    <div class="form-group mb-4">
                                        <label asp-for="Password">رمز عبور</label>
                                        <input type="password" asp-for="Password" class="form-control">
                                        <span class="text-danger" asp-validation-for="Password"></span>
                                    </div>

                                    <p><a asp-controller="Account" asp-action="Register">ثبت نام نکرده اید؟</a></p>
                                     
                                    <button type="submit" class="btn btn-block login-btn mb-4">ورود</button>
                                </form>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-5">
                        <img src="/assets/images/login.jpg" alt="login" class="login-card-img">
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
</html>