@model Atelier.Domain.DTOs.BaseInfoDTOs.UsersDTOs.UserDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="overflow: hidden; width: 95%;  padding: 10px 50px 10px 50px;">

	<div class="row d-flex">

		<div class="col-md-3 col-12">
			<div class="card" style="border-radius:15px;">
				<img src="assets/images/user.png" class="img-icon" />
				<h5 style="text-align: center; padding: 20px;">
					@Model.UserName
				</h5>
				<div class="col-12" style="margin: 0 0 15px;">



				</div>
			</div>
		</div>


		<div id="" class="row col-md-9 col-12" style="padding: 0 25px 0 25px;">

		</div>

	</div>
</div>

