@using Atelier.Application.Interfaces.IBaseInfoServices.ICitiesServices
@using Atelier.Application.Interfaces.IBaseInfoServices.IGroupingServices
@model List<Atelier.Domain.DTOs.BaseInfoDTOs.SearchDtos.AtelierSearchResultDto>
@inject IGroupingService GroupingService ;
@inject ICityService CityService ;

@{
	Layout = "_Layout";
	ViewData["Title"] = "Atelier";
	var groupings = GroupingService.GetAll();
	var cityList = CityService.GetAll();
}

<div style="overflow: hidden; width: 95%;  padding: 10px 50px 10px 50px;">
	<h3 style="text-align: right; margin: 100px 30px 15px 0;"> آتلیه ها</h3>

	<div class="row d-flex">

		<div class="col-md-3 col-12">
			<div class="card" style="border-radius:15px;">
				<h5 style="text-align: right; padding: 20px;">
					فیلترها
				</h5>
				<div class="col-12" style="margin: 0 0 15px;">
					<div class="card-header" id="headingOne">
						<h5 class="my-0" style="text-align:right;">
							<button class="btn btn-link ml-4" style=" color:black;" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								دسته بندی
							</button>
						</h5>
					</div>

					<div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample-faq">
						<div class="card-body" style="text-align:right; overflow: auto; max-height: 150px;">
							<div class="col-md-12">
								<div class="form-group">
									<div>
										<input type="checkbox" id="changes">
										انتخاب همه
									</div>
									<div class="position-relative has-icon-left">
										@foreach (var item in groupings)
										{
											<div class="col-12">
												<input id="input_@item.Id" type="checkbox" name="grouping" value="@item.Id">
												<span>@item.Title</span>
											</div>
										}

									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card-header" id="headingTwo">
						<h5 class="my-0" style="text-align:right; color:black;">
							<button class="btn btn-link ml-4" style=" color:black;" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
								شهرها
							</button>
						</h5>
					</div>

					<div id="collapseTwo" class="collapse " aria-labelledby="headingTwo" data-parent="#accordionExample-faq">
						<div class="card-body" style="text-align:right; overflow: auto; max-height: 150px;">
							<div class="col-md-12">
								<div class="form-group">
									<div>
										<input type="checkbox" id="changes2">
										انتخاب همه
									</div>
									<div class="position-relative has-icon-left">
										@foreach (var item in cityList)
										{
											<div class="col-12">
												<input id="input_@item.Id" type="checkbox" name="cities" value="@item.Id">
												<span>@item.Tilte</span>
											</div>
										}

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="row col-md-9 col-12" style="padding: 0 25px 0 25px;">
			@{
				Html.RenderPartial("AtelierPartial", Model);
			}
		</div>

	</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script>
	$("#changes").change(function () {
		if ($('#changes').is(":checked")) {
			$('input[name="grouping"]').prop('checked', true);
		} else {
			$('input[name="grouping"]').prop('checked', false);
		}
	});

	$("#changes2").change(function () {
		if ($('#changes2').is(":checked")) {
			$('input[name="cities"]').prop('checked', true);
		} else {
			$('input[name="cities"]').prop('checked', false);
		}
	});

</script>

<script>
	$('input[type="checkbox"]').on('change', function () {

		var formData = new FormData();

		var selectedGrouping = $('input[type="checkbox"][name="grouping"]:checked').map(function () {
			return $(this).val();
		}).get();
		var selectedCities = $('input[type="checkbox"][name="cities"]:checked').map(function () {
			return $(this).val();
		}).get();

		formData.append("groupingIds", selectedGrouping);
		formData.append("cityIds", selectedCities);

		console.log(selectedGrouping);
		console.log(selectedCities);

		$.ajax({
			type: 'POST',
			data: formData,
			processData: false,
			contentType: false,
			url: "/SearchAtelier/FilterAtelier",
			success: function (result) {
				console.log(result);
				$('#atelier-list').html(result);
			},

		});

	});

</script>