@model Atelier.Domain.DTOs.BaseInfoDTOs.PhotographerDTOs.PhotographersViewModel
@{
    ViewData["Title"] = "EditPhotographer";
    Layout = "~/Areas/Admin/Views/Shared/_Adminlayout.cshtml";
}

<div class="page-body">
	<div class="page-header">
		<div class="row">
			<div class="col">
				<div class="page-header-left">
					<h3>عکاس ها</h3>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a><i data-feather="home"></i></a></li>
						<li class="breadcrumb-item">عکاس ها</li>
						<li class="breadcrumb-item">ویرایش </li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="card">
			<div class="card-header">
				<h5>ویرایش عکاس</h5>
			</div>
			<form class="form theme-form" enctype="multipart/form-data" method="post" asp-controller="Photographer" asp-action="EditPhotographer">
				<input type="hidden" asp-for="AtelierId"/>
				<div class="card-body">
					<div class="row">
						<div class="col-12">
							<div class="form-group">
								<label asp-for="FullName">نام عکاس</label>
								<input asp-for="FullName" class="form-control" type="text" data-original-title="" title="">
								<span class="text-danger" asp-validation-for="FullName"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="card-footer w-100" style="text-align: end;">
					<button class="btn btn-primary" type="submit" data-original-title="" title="">ویرایش</button>
				</div>
			</form>
		</div>
	</div>
</div>

